* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    touch-action: none;
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
body {
    background-image: linear-gradient(rgb(15,15,15), rgb(74,74,74));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(224, 224, 224);
}
header,
main,
#vertical-centralizer,
figure {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    background-color: transparent;
    width: 100%;
}
#vertical-centralizer {
    height: 100%;
    width: 400px;
    margin-top: 5px;
}
header > ul {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
header > ul > li > button {
    font-size: 10pt;
    margin: 0px;
    height: auto;
    width: auto;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color: transparent;
}
figure > img {
    height: 100px;
    border-radius: 50%;
}
figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    text-align: center;
    margin-top: 10px;
}
figure > p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(179, 179, 179);
}
main {
    margin-top: 20px;
}
ul {
    height: var(--size-button);
    list-style-type: none;
    width: 100%;
}
.social {
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap;
}
.icon {
    margin-top: 10px;
}
.icon > a > img {
    filter: invert(0.9); 
    height: 40px;
}
.button {
    margin-top: 10px;
    background-color: rgb(224, 224, 224);
    border-radius: 19px;
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background-image: linear-gradient(rgb(224, 224, 224)40%, rgb(179, 179, 179));
}
.button:active {
    box-shadow: 0px 0px 3px 1px rgb(179, 179, 179);
}
li > p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
li > p:nth-child(2) {
    margin-top: -5px;
}
li > p > a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
li > p > span,
li > p > a > span {
    font-size: 10px;
    color: rgb(44, 44, 44)
}
a {
    text-decoration: none;
    color: rgb(15,15,15);
}
footer {
    display: flex;
    background-color: transparent;
    position: relative;
    height: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}
footer > p {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    width: calc(100% - 20px);
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: rgb(224, 224, 224);
}
footer > p > a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}
#copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.display-none {
    display: none;
}

@media (max-width: 420px) {
    #vertical-centralizer {
        width: calc(100% - 20px);
    }
}