* {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
body {
    background-image: linear-gradient(rgb(15,15,15), rgb(74,74,74));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
header {
    margin-top: 5px;
}
header,
main {
    height: auto;
    width: 400px;
}
header,
main,
figure {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    background-color: transparent;
}
header > ul {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
header > ul > li > button {
    font-size: 10pt;
    margin: 0px;
    height: auto;
    width: auto;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color: transparent;
}
figure > img {
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
figure > svg {
    fill:rgb(255, 255, 255);
    position: absolute;
    transform: scale(0.4) translate(151px, 126px) rotate(346deg);
}
figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
figure > p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
main {
    margin-top: 20px;
}
ul {
    height: var(--size-button);
    list-style-type: none;
    width: 100%;
}
.icons-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}
.link-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
    border: none;
}
.link-icon > svg {
    height: 40px;
    width: 40px;
    overflow: visible;
}
.link-icon > svg > path:last-child {
    fill: rgb(255, 255, 255);
}
#link-linkedin:hover > svg > path:last-child {
    fill: rgb(10, 102, 194);
}
#link-github:hover > svg > path:last-child {
    fill: rgb(201, 81, 12);
}
#link-instagram:hover > svg > path:last-child {
    fill: rgb(195, 42, 163);
}
#link-twitter:hover > svg > path:last-child {
    fill: rgb(29, 161, 242);
}
#link-spotify:hover > svg > path:last-child {
    fill: rgb(30, 215, 96);
}
.link-icon {
    background-color: transparent;
    cursor: pointer;
}
.link-icon:hover > svg > path:first-child {
    fill: rgb(255, 255, 255, 1);
}
.link-icon:active > svg > path:first-child {
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}
.link-button {
    margin-top: 13px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    outline: 3px solid rgb(255, 255, 255);
    border-radius: 19px;
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.link-button:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(15,15,15);
}
.link-button:active {
    box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
}
.link-button > p {
    padding: 0 10px 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} 
li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li > a > p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
li > a > p:nth-child(2) {
    margin-top: -5px;
}
li > a > p {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
li > a > p > span {
    font-size: 10px;
    color:rgb(255, 255, 255);
    /*color: rgb(44, 44, 44)*/
}
li > a:hover > p > span {
    color:rgb(15,15,15);
}
a {
    text-decoration: none;
    color: rgb(15,15,15);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 20px;
    padding-bottom: 10px;
    height: auto;
    width: 100%;
    text-align: center;
}
footer > p {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: rgb(224, 224, 224);
    width: calc(100% - 20px);
}
footer > p > a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

.invert-horizontal {
    display: inline-block;
    transform: scale(-1, 1);
}
.display-none {
    display: none;
}

@media (max-width: 420px) {
    header,
    main {
        width: calc(100% - 20px);
    }
}