* {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
body {
    background-image: linear-gradient(#0f0f0f, #4a4a4a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
header {
    margin-top: 5px;
}
header,
main {
    height: auto;
    width: 400px;
}
header,
main,
figure {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    background-color: transparent;
}
header > ul {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
header > ul > li > button {
    font-size: 10pt;
    margin: 0px;
    height: auto;
    width: auto;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color: transparent;
}
figure > img {
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
figure > svg {
    fill:#ffffff;
    position: absolute;
    transform: scale(0.4) translate(151px, 126px) rotate(346deg);
}
figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
figure > p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
main {
    margin-top: 20px;
}
ul {
    height: var(--size-button);
    list-style-type: none;
    width: 100%;
}
.icons-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}
.link-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.link-icon > svg {
    height: 40px;
    width: 40px;
    overflow: visible;
}

.link-icon svg path:first-child {
    fill: transparent;
}

.link-icon svg :not(path:first-child) {
    fill: #ffffff;
}

#link-linkedin:hover svg path:nth-child(2) {
    fill: #0a66c2;
}
#link-github:hover > svg > :not(path:first-child) {
    fill: #171515;
}
#link-instagram:hover > svg > :not(path:first-child) {
    fill: #c32aa3;
}
#link-bluesky:hover > svg > :not(path:first-child) {
    fill: #1185fe;
}
#link-twitter:hover > svg > :not(path:first-child) {
    fill: #1da1f2;
}
#link-duolingo:hover > svg > :not(path:first-child) {
    fill: #58cc02;
}
#link-spotify:hover > svg > :not(path:first-child) {
    fill: #1ed760;
}

.link-icon:hover > svg > path:first-child {
    fill: #ffffff;
}
.link-icon:active > svg > path:first-child {
    filter: drop-shadow(0px 0px 3px #ffffff);
}
.link-button {
    margin-top: 13px;
    background-color: transparent;
    color: #ffffff;
    outline: 3px solid #ffffff;
    border-radius: 19px;
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.link-button:hover {
    background-color: #ffffff;
    color:#0f0f0f;
}
.link-button:active {
    box-shadow: 0px 0px 3px 2px #ffffff;
}
.link-button > p {
    padding: 0 10px 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} 
li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li > a > p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
li > a > p:nth-child(2) {
    margin-top: -5px;
}
li > a > p {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
li > a > p > span {
    font-size: 10px;
    color:#ffffff;
    /*color: rgb(44, 44, 44)*/
}
li > a:hover > p > span {
    color:#0f0f0f;
}
a {
    text-decoration: none;
    color: #0f0f0f;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 20px;
    padding-bottom: 10px;
    height: auto;
    width: 100%;
    text-align: center;
}
footer > p {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #e0e0e0;
    width: calc(100% - 20px);
}
footer > p > a {
    text-decoration: none;
    color: #e0e0e0;
}

.invert-horizontal {
    display: inline-block;
    transform: scale(-1, 1);
}
.display-none {
    display: none;
}

@media (max-width: 420px) {
    header,
    main {
        width: calc(100% - 20px);
    }
}